APP_NAME=Optik
APP_ENV=production
APP_DEBUG=false
APP_URL=https://optik.SITE
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=optik
DB_USERNAME=optik
DB_PASSWORD=GUCLU-SIFRE

FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
SESSION_DRIVER=database
CACHE_STORE=database
